*{
    background-color: beige;
    margin: 0;
    box-sizing: border-box;
}

.backgroundLayer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    opacity: 1;
    background-color: #ffffff50;
    backdrop-filter: blur(2px);
}

.logoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

.logoDiv img{
    border-radius: 50%;
    width: 20vw;
    height: auto;
    opacity: 1;
    transition: all 1s;
}

.logoDiv img:hover{
    width: 25vw;
    height: auto;
    transition: all 1s;
}

.logoDiv img:active{
    width: 22vw;
    height: auto;
}

.notesDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.notes{
    align-items: center;
    justify-content: center;
    display: flex;
    
    position: fixed;
    top: 80vh;
    bottom: 20vh;
    left: 0;
    right: 0;
    opacity: 0;

    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 11px;
    letter-spacing: 2px;
    background-color: transparent;
}

.notes:hover {
    color: rgb(144, 144, 144);
}

.rotateDivs{
    transform: rotate(360deg);
    transition: all 1s;
}

.appearDivs{
    opacity: 1;
    transition: all 0.5s;
}

.disappearDivs{
    opacity: 0;
    transition: all 0.5s;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    border: 1px solid black;
}

.sliderHeader{
    height: 45vh;
    width: 100vw;
    background-image: url(../components/img/french-food.jpg);
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    z-index: 1;
    background-color: beige;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
}
.videoBg{
    pointer-events: none;  
    position: relative;
    top: 30vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 130vw; 
    height: 130vh;
    z-index: 0;
    border: transparent;
    clip-path: inset(250px 0px 250px 0px)
}